.number {
  padding: 40px 0px;
  background: rgb(30, 30, 30);
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media only screen and (min-width: 1000px) {
      gap: 137px;
    }
    .number__text__wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      @media only screen and (min-width: 500px) {
        gap: 32px;
      }
      p {
        color: rgb(134, 218, 68);
        font-family: Oswald;
        font-size: 20px;
        font-weight: 700;
        line-height: 106.7%;
        letter-spacing: 0%;
        @media only screen and (min-width: 1000px) {
          font-size: 96px;
        }
      }
      span {
        width: 100%;
        max-width: 155px;
        color: rgb(255, 255, 255);
        font-family: Oswald;
        font-size: 14px;
        font-weight: 700;
        line-height: 128.2%;
        letter-spacing: 0%;
        @media only screen and (min-width: 500px) {
          font-size: 20px;
        }
      }
    }
  }
}
